<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- theme.title %></title>
    <link rel="icon" href="/images/logo.png ">

    <!-- 引入样式表配置文件 -->
    <%- css('/css/style.css') %>

    <!-- 引入fontawesome 图标库 -->
    <%- css('lib/fontawesome/css/all.min.css') %>

    <!-- 代码高亮库 -->
    <%- css('/lib/highlight/styles/atom-one-dark') %>


</head>

<body>
        <!-- 引入头部 -->
        <%- include('nav.ejs') %>


        <main class="container">
            <!-- 左侧边栏显示个人介绍和最新文章 -->
            <!-- 引入右侧侧边栏 -->
            <%- include('leftAside.ejs') %>

            

            <!-- 中间文章部分按照发布日期展示发布的文章 -->
           <!-- 引入中间文章 -->
           <%- body %>
           
          
            <!-- 引入右侧侧边栏 -->
            <%- include('rightAside.ejs') %>
            
        </main>

        <!-- 引入页脚 -->
        <%- include('footer.ejs') %>
       
<!-- 引入js文件 -->
<%- js('js/main.js') %>

<!-- 引入代码高亮的 js -->
<%- js('/lib/highlight/highlight.min.js') %>
<script>hljs.initHighlightingOnLoad();</script>

</body>

</html>