 <!-- 左侧边栏 -->
 <div class="leftAside">
    <div class="intro">
        <!-- 让个人介绍靠居中显示 -->
        <div class="flex-center-box">
            <div class="person-intro">
                <div class="avtar">
                    <img src="/images/logo.png" alt="logo">
                </div>
                <p class="second-title name">mk310</p>
                <p class="slogn third-title">
                    no-no-no
                </p>
                <p class="adress third-title">
                    <i class="fa fa-map-marker-alt"></i>
                    <span>hangzhou</span>
                </p>
            </div>
        </div>

        <div class="post-intro">
            <div class="post-info">
                <div class="flex-center-box">
                    <p class="heading second-title">文章</p>
                    <a href="#">
                        <p class="title first-title"><%- site.posts.length %></p>
                    </a>
                </div>
            </div>
            <div class="post-info">
                <div class="flex-center-box">
                    <p class="heading second-title">分类</p>
                    <a href="#">
                        <p class="title first-title"><%- site.categories.length %></p>
                    </a>
                </div>
            </div>
            <div class="post-info">
                <div class="flex-center-box">
                    <p class="heading second-title">标签</p>
                    <a href="#">
                        <p class="title first-title"><%- site.tags.length %></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="follow-btn">
            <a href="#" target="_blank">关注我</a>
        </div>
        <div class="follow">
            <a href="#"><i class="fab fa-github second-title "></i></a>
            <a href="#"><i class="fab fa-zhihu second-title"></i></a>
            <a href="#"><i class="fa fa-tv second-title"></i></a>
        </div>
    </div>

    <!-- 左边最新文章 -->
    <div class="new-posts">
        <div class="new-posts-title subtitle">最新文章</div>
        <div class="new-posts-list">

           

            <% site.posts.sort('-updated').limit(5).forEach(function(post) { %>
                <div class="new-posts-item">
                    <p class="date subtitle">
                        <time datetime="<%= post.updated.format('YYYY-MM-DD') %>"><%= post.updated.format('YYYY-MM-DD') %></time>
                    </p>
                    <p class="title ">
                        <a class="third-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
                    </p>
                    <p class="categories ">
                        <a class="subtitle" href="#">前端</a>
    
                        <a class="subtitle" href="#">css</a>
                    </p>
                </div>
              <% }); %>


        </div>
    </div>
</div>
<!-- 左侧边栏结束 -->